/* Plugins */
/* Global styles */
/* Blocks */
.poll {
  padding: 25px 22px 22px;
  border-radius: 18px;
  background: linear-gradient(180deg, #EF8C34 0%, #CA7732 100%);
  font-family: 'Ubuntu', sans-serif;
  max-width: 365px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }
  .poll:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img/poll-photo.png) no-repeat right bottom;
    background-size: auto calc(100% - 7px); }
  .poll__wrapper {
    position: relative;
    z-index: 1; }
  .poll__header {
    margin-bottom: 77px; }
  .poll__title {
    font-size: 27px;
    line-height: 1.15;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.03em;
    color: #fff; }
  .poll__subheader {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -.03em;
    color: #fff; }
  .poll__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .poll__meter {
    margin-bottom: 13px;
    position: relative;
    max-width: 230px; }
  .poll__meter-img {
    max-width: 100%; }
  .poll__meter-section {
    position: absolute;
    width: 20%;
    height: 100%;
    opacity: .5;
    z-index: 2;
    bottom: 0;
    left: 50%;
    margin-left: -10%;
    cursor: pointer; }
  .poll__arrow {
    background: url(../img/poll-arrow.png) no-repeat center;
    background-size: contain;
    width: 20px;
    height: 100px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    transform: rotate(0deg);
    transform-origin: center 80px;
    transition: all .3s ease-in-out; }
  .poll__btn {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: .175em;
    color: #fff;
    padding: 7px 30px;
    background: #2E3D45;
    border-radius: 10.4px;
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    max-width: 283px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all .3s ease-in-out; }
    .poll__btn:hover {
      background: #384b54; }
