.poll {
  padding: 25px 22px 22px;
  border-radius: 18px;
  background: linear-gradient(180deg, #EF8C34 0%, #CA7732 100%);
  font-family: 'Ubuntu', sans-serif;
  max-width: 365px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../img/poll-photo.png) no-repeat right bottom; 
    background-size: auto calc(100% - 7px);
  }
  
  &__wrapper {
    position: relative;
    z-index: 1;
  }
  
  &__header {
    margin-bottom: 77px;
  }
  
  &__title {
    font-size: 27px;
    line-height: 1.15;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.03em;
    color: #fff;
  }
  
  &__subheader {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -.03em;
    color: #fff;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__meter {
    margin-bottom: 13px;
    position: relative;
    max-width: 230px;
  }
  
  &__meter-section-wrapper {
  }
  
  &__meter-img {
    max-width: 100%;
  }
  
  &__meter-section {
    position: absolute;
    width: 20%;
    height: 100%;
    opacity: .5;
    z-index: 2;
    bottom: 0;
    left: 50%;
    margin-left: -10%;
    cursor: pointer;
    
//    &:nth-child(1) {
//      transform: rotate(-65deg);
//      transform-origin: bottom center;
//      
//      &:hover {
//        
//        & ~ .poll__arrow {
//          transform: rotate(-65deg);
//          transform-origin: center 80px;
//        }
//      }
//      
//      &.active {
//        
//        & ~ .poll__arrow {
//          transform: rotate(-65deg)!important;
//          transform-origin: center 80px!important;
//        }
//      }
//    }
//    
//    &:nth-child(2) {
//      transform: rotate(-35deg);
//      transform-origin: bottom center;
//      
//      &:hover {
//        
//        & ~ .poll__arrow {
//          transform: rotate(-35deg);
//          transform-origin: center 80px;
//        }
//      }
//      
//      &.active {
//        
//        & ~ .poll__arrow {
//          transform: rotate(-35deg)!important;
//          transform-origin: center 80px!important;
//        }
//      }
//    }
//    
//    &:nth-child(3) {
//      
//      &:hover {
//        
//        & ~ .poll__arrow {
//          transform: rotate(0deg);
//          transform-origin: center 80px;
//        }
//      }
//      
//      &.active {
//        
//        & ~ .poll__arrow {
//          transform: rotate(0deg)!important;
//          transform-origin: center 80px!important;
//        }
//      }
//    }
//    
//    &:nth-child(4) {
//      transform: rotate(35deg);
//      transform-origin: bottom center;
//      
//      &:hover {
//        
//        & ~ .poll__arrow {
//          transform: rotate(35deg);
//          transform-origin: center 80px;
//        }
//      }
//      
//      &.active {
//        
//        & ~ .poll__arrow {
//          transform: rotate(35deg)!important;
//          transform-origin: center 80px!important;
//        }
//      }
//    }
//    
//    &:nth-child(5) {
//      transform: rotate(65deg);
//      transform-origin: bottom center;
//      
//      &:hover {
//        
//        & ~ .poll__arrow {
//          transform: rotate(65deg);
//          transform-origin: center 80px;
//        }
//      }
//      
//      &.active {
//        
//        & ~ .poll__arrow {
//          transform: rotate(65deg)!important;
//          transform-origin: center 80px!important;
//        }
//      }
//    }
  }
  
  &__arrow {
    background: url(../img/poll-arrow.png) no-repeat center;
    background-size: contain;
    width: 20px;
    height: 100px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    transform: rotate(0deg);
    transform-origin: center 80px;
    transition: all .3s ease-in-out;
    
//    &--1 {
//      transform: rotate(-75deg);
//      transform-origin: center 80px;
//    }
//    
//    &--2 {
//      transform: rotate(-40deg);
//      transform-origin: center 80px;
//    }
//    
//    &--3 {
//      transform: rotate(0deg);
//      transform-origin: center 80px;
//    }
//    
//    &--4 {
//      transform: rotate(40deg);
//      transform-origin: center 80px;
//    }
//    
//    &--5 {
//      transform: rotate(75deg);
//      transform-origin: center 80px;
//    }
  }
  
  &__btn {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: .175em;
    color: #fff;
    padding: 7px 30px;
    background: #2E3D45;
    border-radius: 10.4px;
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    max-width: 283px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    
    &:hover {
      background: lighten(#2E3D45, 5%);
    }
  }
}