mixin poll(data)
  .poll&attributes(attributes)
    .poll__wrapper
      .poll__header
        .poll__title Оцени работу
        .poll__subheader министра строительства РФ
      .poll__content
        .poll__meter
          img.poll__meter-img(src="./img/poll-meter.png", alt)
          .poll__meter-section-wrapper
            .poll__meter-section(data-value="nightmare")
            .poll__meter-section(data-value="bad")
            .poll__meter-section(data-value="normal")
            .poll__meter-section(data-value="good")
            .poll__meter-section(data-value="excellent")
            .poll__arrow(style="transform: rotate(-40deg)")
        a.poll__btn(href="#") Голосовать